* {
	margin: 0;
}
/* --HEADER-- */
.navbar{
	margin: 0;
}
.jumbotron {
	background-color: #833900;
	color: #B98F6E;
	padding: 20px 0;
	margin: 0;
}
/* --ARTICLE-- */
.post {
	background-color: #B99B6E;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #999;
}

.post .thumb {
	margin-right: 10px;
	width: 40%;
}

.post-contenido {
	padding-right: 30px;
}

.post-title{
	color: #91470E;
}

