//FONTS
@import url(https://fonts.googleapis.com/css?family=Noticia+Text);

*{
	font-family: 'Noticia Text', serif;
}
/* --HEADER-- */

.dropdown-menu > .active > a {
	color: #fff;
	background-color: #080808;
	&:hover {
		color: #fff;
		background-color: #080808;
	}
}

.navbar{
	margin: 0;
	background: black;

	.dropdown-menu{
		background-color: #222;
		border-color: #080808;

		a {
			color: #9d9d9d;
		}
	}
}


.jumbotron {
	background-color: #833900;
	color: #B98F6E;
	padding: 20px 0;
	margin: 0;
	height: 177px;
}
#sprite {
	width: 47px;
    height: 47px;
    background: url(../imgs/facebook.png);
    margin: 10px auto;
    padding: 0;
    position: relative;
    left: 565px;
	top: -107px;

    li {
		margin: 0;
        padding: 0;
        list-style: none;
        position: absolute;
        top: 0;

        a {
        	height: 47px;
            display: block;
        }
    }

    #panel {
    	left: 0px;
        width: 94px;

        a:hover {
        	background: transparent url("../imgs/facebook.png") 0px -47px no-repeat;
        }
    }
}
/* --ARTICLE NOTICIAS-- */	

.video {
	background-color: #B99B6E;
	.frameVideo {
		margin-left: 350px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
}
.post {
	background-color: #B99B6E;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #833900;

	.thumb{
	margin-right: 10px;
	width: 40%;
	}
}

.clearfix {
	margin: 0;
}

.post-contenido {
	padding-right: 30px;
}

.post-title{
	color: #91470E;
}

.aniversario {
	position: relative;
	left: 38px;
}

.botones-article {
	float: right;
	margin-right: 30px;

	.btn-primary {
	    background-color: #833900;
    	border-color: #B98F6E;
    	&:hover{
			background-color: #915C0E;
    	}
    }
}

/* --FORMULARIO -- */
.section-form {
	background-color: #B99B6E;
    padding: 1px 66px 1px 0px;
    .introForm{
    	text-align: center;
    	padding-bottom: 30px;
    	h2 {
    		padding-bottom: 15px;
    	}
    }
	#btnFormulario{
		margin-left: 518px;
		width: 318px;
		background-color: #833900;
    	border-color: #B98F6E;
    	&:hover{
			background-color: #915C0E;
    	}
	}
}

.contenedorProductos {
	width: 100%;
	height: 638px;
	background-color: #B99B6E;
	/* --CAROUSEL-- */
	.myCarousel {
		float: left;
		width: 390px;		
		.item {
			width: 400px;
		}		
	}
	/* --SECTION PRODUCTOS-- */
	.infoProductos {		
		display: inline-block;
		width: 50%;
		.tituloProd {
			margin-left: 280px;
			width: 100%
		}
		.listProductos{
			margin-left: 7px;
			background-color: #AC7449;
			width: 882px;
			border-bottom: 1px solid #B99B6E;
		}
	}
}

/* --OFERTAS-- */

.contenedorOfertas {
	background-color: #B99B6E;
	.list-group {
    	padding-left: 26px;
    	margin: 0px;
    	.tituloOfertas{
    		text-align: center;
    	}

    	.subli {
    		text-align: center;
    		margin-right: 20px;
    		background-color: #B98F6E;
    	}
	}
	.odd {
		display: inline-block;
		width: 49%
	}

	.even {
		display: inline-block;
		width: 49%;
		.imgIndiba {
			margin-top: 10px;
			margin-left: 350px;
		}
	}
}

/* --OSTEOPATIA-- */
.osteopatia-list {
	text-align: center;
	padding-right: 20px;
}

/* --FOOTER-- */
.container {
	background-color: #833900;
	color: #B98F6E;
	margin: 0;
	width: 100%;
}
.maps {
	width: 100%;
}
