@import url(https://fonts.googleapis.com/css?family=Noticia+Text);
/* line 4, ../sass/estilos.scss */
* {
  font-family: 'Noticia Text', serif;
}

/* --HEADER-- */
/* line 9, ../sass/estilos.scss */
.dropdown-menu > .active > a {
  color: #fff;
  background-color: #080808;
}
/* line 12, ../sass/estilos.scss */
.dropdown-menu > .active > a:hover {
  color: #fff;
  background-color: #080808;
}

/* line 18, ../sass/estilos.scss */
.navbar {
  margin: 0;
}
/* line 21, ../sass/estilos.scss */
.navbar .dropdown-menu {
  background-color: #222;
  border-color: #080808;
}
/* line 25, ../sass/estilos.scss */
.navbar .dropdown-menu a {
  color: #9d9d9d;
}

/* line 32, ../sass/estilos.scss */
.jumbotron {
  background-color: #833900;
  color: #B98F6E;
  padding: 20px 0;
  margin: 0;
  height: 177px;
}

/* line 39, ../sass/estilos.scss */
#sprite {
  width: 47px;
  height: 47px;
  background: url(../imgs/facebook.png);
  margin: 10px auto;
  padding: 0;
  position: relative;
  left: 565px;
  top: -107px;
}
/* line 49, ../sass/estilos.scss */
#sprite li {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 0;
}
/* line 56, ../sass/estilos.scss */
#sprite li a {
  height: 47px;
  display: block;
}
/* line 62, ../sass/estilos.scss */
#sprite #panel {
  left: 0px;
  width: 94px;
}
/* line 66, ../sass/estilos.scss */
#sprite #panel a:hover {
  background: transparent url("../imgs/facebook.png") 0px -47px no-repeat;
}

/* --ARTICLE NOTICIAS-- */
/* line 72, ../sass/estilos.scss */
.post {
  background-color: #B99B6E;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #833900;
}
/* line 78, ../sass/estilos.scss */
.post .thumb {
  margin-right: 10px;
  width: 40%;
}

/* line 84, ../sass/estilos.scss */
.clearfix {
  margin: 0;
}

/* line 88, ../sass/estilos.scss */
.post-contenido {
  padding-right: 30px;
}

/* line 92, ../sass/estilos.scss */
.post-title {
  color: #91470E;
}

/* line 96, ../sass/estilos.scss */
.aniversario {
  position: relative;
  left: 38px;
}

/* line 101, ../sass/estilos.scss */
.botones-article {
  float: right;
  margin-right: 30px;
}
/* line 105, ../sass/estilos.scss */
.botones-article .btn-primary {
  background-color: #833900;
  border-color: #B98F6E;
}
/* line 108, ../sass/estilos.scss */
.botones-article .btn-primary:hover {
  background-color: #915C0E;
}

/* --FORMULARIO -- */
/* line 115, ../sass/estilos.scss */
.section-form {
  background-color: #B99B6E;
  padding: 1px 66px 1px 0px;
}
/* line 118, ../sass/estilos.scss */
.section-form .introForm {
  text-align: center;
  padding-bottom: 30px;
}
/* line 121, ../sass/estilos.scss */
.section-form .introForm h2 {
  padding-bottom: 15px;
}
/* line 125, ../sass/estilos.scss */
.section-form #btnFormulario {
  margin-left: 518px;
  width: 318px;
  background-color: #833900;
  border-color: #B98F6E;
}
/* line 130, ../sass/estilos.scss */
.section-form #btnFormulario:hover {
  background-color: #915C0E;
}

/* line 136, ../sass/estilos.scss */
.contenedorProductos {
  width: 100%;
  height: 638px;
  background-color: #B99B6E;
  /* --CAROUSEL-- */
  /* --SECTION PRODUCTOS-- */
}
/* line 141, ../sass/estilos.scss */
.contenedorProductos .myCarousel {
  float: left;
  width: 390px;
}
/* line 144, ../sass/estilos.scss */
.contenedorProductos .myCarousel .item {
  width: 400px;
}
/* line 149, ../sass/estilos.scss */
.contenedorProductos .infoProductos {
  display: inline-block;
  width: 50%;
}
/* line 152, ../sass/estilos.scss */
.contenedorProductos .infoProductos .tituloProd {
  margin-left: 280px;
  width: 100%;
}
/* line 156, ../sass/estilos.scss */
.contenedorProductos .infoProductos .listProductos {
  margin-left: 7px;
  background-color: #AC7449;
  width: 882px;
  border-bottom: 1px solid #B99B6E;
}

/* --OFERTAS-- */
/* line 167, ../sass/estilos.scss */
.contenedorOfertas {
  background-color: #B99B6E;
}
/* line 169, ../sass/estilos.scss */
.contenedorOfertas .list-group {
  padding-left: 26px;
  margin: 0px;
}
/* line 172, ../sass/estilos.scss */
.contenedorOfertas .list-group .tituloOfertas {
  text-align: center;
}
/* line 176, ../sass/estilos.scss */
.contenedorOfertas .list-group .subli {
  text-align: center;
  margin-right: 20px;
  background-color: #B98F6E;
}
/* line 182, ../sass/estilos.scss */
.contenedorOfertas .odd {
  display: inline-block;
  width: 49%;
}
/* line 187, ../sass/estilos.scss */
.contenedorOfertas .even {
  display: inline-block;
  width: 49%;
}

/* --FOOTER-- */
/* line 194, ../sass/estilos.scss */
.container {
  background-color: #833900;
  color: #B98F6E;
  margin: 0;
  width: 100%;
}

/* line 200, ../sass/estilos.scss */
.maps {
  width: 100%;
}
