@import url(https://fonts.googleapis.com/css?family=Noticia+Text);
/* line 4, ../sass/estilos.scss */
* {
  font-family: 'Noticia Text', serif;
}

/* 1024 768 600 480 420 320 */
/* --HEADER-- */
/* line 10, ../sass/estilos.scss */
.dropdown-menu > .active > a {
  color: #fff;
  background-color: #080808;
}
/* line 13, ../sass/estilos.scss */
.dropdown-menu > .active > a:hover {
  color: #fff;
  background-color: #080808;
}

/* line 19, ../sass/estilos.scss */
.navbar {
  margin: 0;
  background: black;
}
/* line 23, ../sass/estilos.scss */
.navbar .dropdown-menu {
  background-color: #222;
  border-color: #080808;
}
/* line 27, ../sass/estilos.scss */
.navbar .dropdown-menu a {
  color: #9d9d9d;
}

/* line 34, ../sass/estilos.scss */
.jumbotron {
  background-color: #833900;
  color: #B98F6E;
  padding: 20px 0;
  margin: 0;
  height: 177px;
}

/* line 41, ../sass/estilos.scss */
#sprite {
  width: 47px;
  height: 47px;
  background: url(../imgs/facebook.png);
  margin: 10px auto;
  padding: 0;
  position: relative;
  left: 565px;
  top: -107px;
}
/* line 51, ../sass/estilos.scss */
#sprite li {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 0;
}
/* line 58, ../sass/estilos.scss */
#sprite li a {
  height: 47px;
  display: block;
}
/* line 64, ../sass/estilos.scss */
#sprite #panel {
  left: 0px;
  width: 94px;
}
/* line 68, ../sass/estilos.scss */
#sprite #panel a:hover {
  background: transparent url("../imgs/facebook.png") 0px -47px no-repeat;
}

/* --ARTICLE NOTICIAS-- */
/* line 75, ../sass/estilos.scss */
.video {
  background-color: #B99B6E;
}
/* line 77, ../sass/estilos.scss */
.video .frameVideo {
  margin-left: 25%;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 85, ../sass/estilos.scss */
.post {
  background-color: #B99B6E;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #833900;
}
/* line 91, ../sass/estilos.scss */
.post .thumb {
  margin-right: 10px;
  width: 44%;
}
/* line 94, ../sass/estilos.scss */
.post .thumb .imgPost {
  width: 80%;
}

/* line 100, ../sass/estilos.scss */
.clearfix {
  margin: 0;
}

/* line 104, ../sass/estilos.scss */
.post-contenido {
  padding-right: 30px;
}

/* line 109, ../sass/estilos.scss */
.post-title {
  color: #91470E;
}

/* line 113, ../sass/estilos.scss */
.aniversario {
  position: relative;
  left: 38px;
}

/* line 118, ../sass/estilos.scss */
.botones-article {
  float: right;
  margin-right: 30px;
}
/* line 122, ../sass/estilos.scss */
.botones-article .btn-primary {
  background-color: #833900;
  border-color: #B98F6E;
}
/* line 125, ../sass/estilos.scss */
.botones-article .btn-primary:hover {
  background-color: #915C0E;
}

/* --FORMULARIO -- */
/* line 132, ../sass/estilos.scss */
.section-form {
  background-color: #B99B6E;
  padding: 1px 66px 1px 0px;
}
/* line 135, ../sass/estilos.scss */
.section-form .introForm {
  text-align: center;
  padding-bottom: 30px;
}
/* line 138, ../sass/estilos.scss */
.section-form .introForm h2 {
  padding-bottom: 15px;
}
/* line 142, ../sass/estilos.scss */
.section-form #btnFormulario {
  margin-left: 518px;
  width: 318px;
  background-color: #833900;
  border-color: #B98F6E;
}
/* line 147, ../sass/estilos.scss */
.section-form #btnFormulario:hover {
  background-color: #915C0E;
}

/* line 153, ../sass/estilos.scss */
.contenedorProductos {
  width: 100%;
  height: 100%;
  background-color: #B99B6E;
  /* --CAROUSEL-- */
  /* --SECTION PRODUCTOS-- */
}
/* line 158, ../sass/estilos.scss */
.contenedorProductos .myCarousel {
  float: left;
  width: 29%;
  display: inline-block;
}
/* line 162, ../sass/estilos.scss */
.contenedorProductos .myCarousel .item {
  width: 100%;
}
/* line 167, ../sass/estilos.scss */
.contenedorProductos .infoProductos {
  display: inline-block;
  width: 70%;
}
/* line 170, ../sass/estilos.scss */
.contenedorProductos .infoProductos .tituloProd {
  text-align: center;
  width: 100%;
}
/* line 174, ../sass/estilos.scss */
.contenedorProductos .infoProductos .listProductos {
  margin-left: 7px;
  background-color: #AC7449;
  width: 100%;
  border-bottom: 1px solid #B99B6E;
}

/* --OFERTAS-- */
/* line 185, ../sass/estilos.scss */
.contenedorOfertas {
  background-color: #B99B6E;
}
/* line 187, ../sass/estilos.scss */
.contenedorOfertas .list-group {
  padding-left: 26px;
  margin: 0px;
}
/* line 190, ../sass/estilos.scss */
.contenedorOfertas .list-group .tituloOfertas {
  text-align: center;
}
/* line 194, ../sass/estilos.scss */
.contenedorOfertas .list-group .subli {
  text-align: center;
  margin-right: 20px;
  background-color: #B98F6E;
}
/* line 200, ../sass/estilos.scss */
.contenedorOfertas .odd {
  display: inline-block;
  width: 49%;
}
/* line 205, ../sass/estilos.scss */
.contenedorOfertas .even {
  display: inline-block;
  width: 49%;
}
/* line 208, ../sass/estilos.scss */
.contenedorOfertas .even .imgIndiba {
  margin-top: 10px;
  margin-left: 350px;
}

/* --OSTEOPATIA-- */
/* line 216, ../sass/estilos.scss */
.osteopatia-list {
  text-align: center;
  padding-right: 20px;
}

/* --FOOTER-- */
/* line 222, ../sass/estilos.scss */
.container {
  background-color: #833900;
  color: #B98F6E;
  margin: 0;
  width: 100%;
}

/* line 228, ../sass/estilos.scss */
.maps {
  width: 100%;
}

@media all and (max-width: 1185px) {
  /* line 233, ../sass/estilos.scss */
  #sprite {
    left: 445px;
  }
}
@media all and (max-width: 950px) {
  /* line 240, ../sass/estilos.scss */
  .video .frameVideo {
    margin-left: 20%;
  }

  /* line 245, ../sass/estilos.scss */
  #sprite {
    left: 328px;
  }
}
@media all and (max-width: 821px) {
  /* line 251, ../sass/estilos.scss */
  .contenedorOfertas {
    padding-right: 20px;
  }
  /* line 253, ../sass/estilos.scss */
  .contenedorOfertas .odd, .contenedorOfertas .even {
    display: block;
    width: 100%;
  }
}
@media all and (max-width: 768px) {
  /* line 262, ../sass/estilos.scss */
  .video .frameVideo {
    margin-left: 10%;
  }

  /* line 267, ../sass/estilos.scss */
  #sprite {
    left: 187px;
    top: -77px;
  }
}
@media all and (max-width: 650px) {
  /* line 275, ../sass/estilos.scss */
  .video .frameVideo {
    margin-left: 0%;
  }
}
@media all and (max-width: 562px) {
  /* line 283, ../sass/estilos.scss */
  .video .frameVideo {
    margin-left: 0%;
    width: 100%;
  }
}
@media all and (max-width: 480px) {
  /* line 291, ../sass/estilos.scss */
  .post .thumb {
    width: 100%;
  }
  /* line 293, ../sass/estilos.scss */
  .post .thumb .imgPost {
    width: 100%;
  }
}
