@import url(https://fonts.googleapis.com/css?family=Noticia+Text);
/* line 4, ../sass/estilos.scss */
* {
  font-family: 'Noticia Text', serif;
}

/* --HEADER-- */
/* line 9, ../sass/estilos.scss */
.dropdown-menu > .active > a {
  color: #fff;
  background-color: #080808;
}
/* line 12, ../sass/estilos.scss */
.dropdown-menu > .active > a:hover {
  color: #fff;
  background-color: #080808;
}

/* line 17, ../sass/estilos.scss */
.navbar {
  margin: 0;
}
/* line 20, ../sass/estilos.scss */
.navbar .dropdown-menu {
  background-color: #222;
  border-color: #080808;
}
/* line 24, ../sass/estilos.scss */
.navbar .dropdown-menu a {
  color: #9d9d9d;
}

/* line 31, ../sass/estilos.scss */
.jumbotron {
  background-color: #833900;
  color: #B98F6E;
  padding: 20px 0;
  margin: 0;
  height: 177px;
}

/* line 38, ../sass/estilos.scss */
#sprite {
  width: 47px;
  height: 47px;
  background: url(../imgs/facebook.png);
  margin: 10px auto;
  padding: 0;
  position: relative;
  left: 565px;
  top: -107px;
}
/* line 48, ../sass/estilos.scss */
#sprite li {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 0;
}
/* line 55, ../sass/estilos.scss */
#sprite li a {
  height: 47px;
  display: block;
}
/* line 61, ../sass/estilos.scss */
#sprite #panel {
  left: 0px;
  width: 94px;
}
/* line 65, ../sass/estilos.scss */
#sprite #panel a:hover {
  background: transparent url("../imgs/facebook.png") 0px -47px no-repeat;
}

/* --ARTICLE NOTICIAS-- */
/* line 71, ../sass/estilos.scss */
.post {
  background-color: #B99B6E;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #833900;
}
/* line 77, ../sass/estilos.scss */
.post .thumb {
  margin-right: 10px;
  width: 40%;
}

/* line 83, ../sass/estilos.scss */
.clearfix {
  margin: 0;
}

/* line 87, ../sass/estilos.scss */
.post-contenido {
  padding-right: 30px;
}

/* line 91, ../sass/estilos.scss */
.post-title {
  color: #91470E;
}

/* line 95, ../sass/estilos.scss */
.aniversario {
  position: relative;
  left: 38px;
}

/* line 100, ../sass/estilos.scss */
.botones-article {
  float: right;
  margin-right: 30px;
}
/* line 104, ../sass/estilos.scss */
.botones-article .btn-primary {
  background-color: #833900;
  border-color: #B98F6E;
}
/* line 107, ../sass/estilos.scss */
.botones-article .btn-primary:hover {
  background-color: #915C0E;
}

/* --FORMULARIO -- */
/* line 114, ../sass/estilos.scss */
.section-form {
  background-color: #B99B6E;
  padding: 1px 66px 1px 0px;
}
/* line 117, ../sass/estilos.scss */
.section-form .introForm {
  text-align: center;
  padding-bottom: 30px;
}
/* line 120, ../sass/estilos.scss */
.section-form .introForm h2 {
  padding-bottom: 15px;
}
/* line 124, ../sass/estilos.scss */
.section-form #btnFormulario {
  margin-left: 518px;
  width: 318px;
  background-color: #833900;
  border-color: #B98F6E;
}
/* line 129, ../sass/estilos.scss */
.section-form #btnFormulario:hover {
  background-color: #915C0E;
}

/* line 135, ../sass/estilos.scss */
.contenedorProductos {
  width: 100%;
  height: 638px;
  background-color: #B99B6E;
  /* --CAROUSEL-- */
  /* --SECTION PRODUCTOS-- */
}
/* line 140, ../sass/estilos.scss */
.contenedorProductos .myCarousel {
  float: left;
  width: 390px;
}
/* line 143, ../sass/estilos.scss */
.contenedorProductos .myCarousel .item {
  width: 400px;
}
/* line 148, ../sass/estilos.scss */
.contenedorProductos .infoProductos {
  display: inline-block;
  width: 50%;
}
/* line 151, ../sass/estilos.scss */
.contenedorProductos .infoProductos .tituloProd {
  margin-left: 280px;
  width: 100%;
}
/* line 155, ../sass/estilos.scss */
.contenedorProductos .infoProductos .listProductos {
  margin-left: 7px;
  background-color: #AC7449;
  width: 882px;
  border-bottom: 1px solid #B99B6E;
}

/* --FOOTER-- */
/* line 166, ../sass/estilos.scss */
.container {
  background-color: #833900;
  color: #B98F6E;
  margin: 0;
  width: 100%;
}

/* line 172, ../sass/estilos.scss */
.maps {
  width: 100%;
}
